body{
 
     */
    margin:0px;
    background-color: skyblue;
    font-family: arial;
    /* display:flexbox; */
    
    /* text-align: center; */
    }

h1{
    /* display: inline-flex; */
    vertical-align: middle;
    word-wrap:normal;
    font-size: 15px;
    margin: 25px;
   

}
img{ 
    /* display: inline-flex; */
    border: 2px solid black;
    height: 18vh;
    width: 18hv;
    border-radius: 10px;
   /* align-content: space-between; */
   margin:35px; 
   
}
 a{
    /* display: inline-flex; */
    font-size: 14px;
    float:center;
    display:float; 
   
}
